.semver-radio-group {
  justify-content: center;

  label {
    &:nth-child(1) {
      .MuiRadio-colorPrimary.Mui-checked {
        color: #F79227;
      }
      .MuiTypography-root {
        color: #F79227;
      }
      .MuiIconButton-root:hover {
        background-color: rgba(#F79227, 0.08);
      }
    }
    &:nth-child(2) {
      .MuiRadio-colorPrimary.Mui-checked {
        color: #2DC61F;
      }
      .MuiTypography-root {
        color: #2DC61F;
      }
      .MuiIconButton-root:hover {
        background-color: rgba(#2DC61F, 0.08);
      }
    }
    &:nth-child(3) {
      .MuiRadio-colorPrimary.Mui-checked {
        color: #565554;
      }
      .MuiTypography-root {
        color: #565554;
      }
      .MuiIconButton-root:hover {
        background-color: rgba(#565554, 0.08);
      }
    }
  }
}

.version-to-upgrade {
  display: flex;
  padding: .5rem;
  justify-content: center;
  align-items: center;
  background-color: $snow;
  border-radius: 4px;
  border: 1px solid $charcoal;
  margin: 1rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba($charcoal, 0.04);

  .MuiTypography-root {
    color: #565554;
  }

  &.minor {
    .MuiTypography-root {
      color: #F79227;
    }
  }

  &.patch {
    .MuiTypography-root {
      color: #2DC61F;
    }
  }
}