@mixin tile($color) {
  .project-tile-badge {
    background-color: $color;
    border: 2px solid darken($color, 20%);
  }
}

.project-navigator {
  background-color: $sky;
  height: calc(100% - 2rem);
  width: 64px;
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.project-tile {
  width: 42px;
  max-width: 42px;
  height: 42px;
  max-height: 42px;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
  border: 3px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: border-color .2s;

  &.add-project-tile {
    .project-tile-contents {
      border: 1px solid lighten($sky, 20%);
      background-color: border-color .2s;
    }
  }

  &:hover {
    cursor: pointer;
    border: 3px solid $snow;

    .project-tile-contents {
      box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    }

    .add-project-tile {
      .project-tile-contents {
        background-color: darken($snow, 10%);
      }
    }
  }
}

.project-tile-container {
  margin-bottom: .5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  &:focus {
    outline: none;
  }

  &.selected {
    position: relative;
    background-color: rgba($snow, .3);
    &::before {
      content: '';
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 0;
      width: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: $snow;
    }
  }

  &:not(.add-project-tile) {
    @include tile($charcoal);

    &:nth-child(1) {
      .project-tile {
        @include tile(#DB3A34);
      }
    }
    &:nth-child(2) {
      @include tile(#FF8747);
    }
    &:nth-child(3) {
      @include tile(#7948CE);
    }
    &:nth-child(4) {
      @include tile(#F25F5C);
    }
    &:nth-child(5) {
      @include tile(#4D61D1);
    }
  }
}

.project-tile-contents {
  height: 36px;
  width: 36px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}